.vs/*
fTelnetProxy/bin/Debug/*
fTelnetProxy/bin/Release/*
!fTelnetProxy/bin/Release/fTelnetProxy.exe
!fTelnetProxy/bin/Release/RMLib.dll
fTelnetProxy/obj/*
packages/*

dialdirectory.xml
fTelnetProxy.ini
rsync-to-proxies.cmd
rsync-to-proxies-with-wsl.cmd
telnetbbsguide-downloader.ps1
*.pfx
*.suo
*.user